body {
  background: #76a7ab;
  font-family: "Helvetica Neue", Helvetica, Arial;
  padding-top: 20px;
}

.container {
  width: 406px;
  max-width: 406px;
  margin: 0 auto;
}

.logo{
   margin-left: 140px;
   margin-top: -50px;
}

#signup {
  padding: 0px 25px 25px;
  background: #fff;
  box-shadow: 
      0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
      0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  margin-left: 150px;
  margin-top: -450px;
}

.letra{
  font-family: 'Times New Roman', Times, serif;
}

.veen2 button{
  margin-left: 260px;
  background: transparent;
  background-image: linear-gradient(90deg, darkcyan ,aquamarine);
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid black;
  border-radius: 50px;
  background-clip: padding-box;
  position: relative;
  color: black;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  transition: all .25s;
  font-size: 17px;
}



.veen button.dark{
  border-color: black;
  left: -80px;
  background-image: linear-gradient(90deg, darkcyan ,aquamarine );
}


#scroll{
  height:470px;
  width:550px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 190px;
 
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}