
body {
    background: #76a7ab;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.veen > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.veen button{
    margin-left: 150px;
    background: transparent;
    background-image: linear-gradient(90deg, darkcyan ,aquamarine);
    display: flex;
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 50px;
    background-clip: padding-box;
    position: relative;
    color: black;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all .25s;
    top: 35px;
    left: 580px;
    outline: none;
    text-decoration: none;

}


.veen button.dark{
    border-color: black;
    left: -1px;
    background-image: linear-gradient(90deg, darkcyan ,aquamarine );
}


.veen button.black{
    border-color: black;
    background-image: linear-gradient(90deg, darkcyan ,aquamarine );
}

.veen .move button.dark{
    border-color: #e0b722;
    background: darkcyan;
}
